ul {
  padding: 0;
}

body {
  color: #2c2c2c;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.loader {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  animation: l1 1s linear infinite alternate;
}
.loader:before {
  content: "Loading...";
}

@keyframes l1 {
  to {
    opacity: 0;
  }
}

.error {
  color: #f01322;
}

.create-form {
  width: 510px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px 20px 0;
  border-radius: 10px;
  margin: 20px auto;
}

.create-form label {
  margin-right: 10px;
  flex-shrink: 1;
}

.posts {
  width: 550px;
  margin: 30px auto 0;
}
.post {
  position: relative;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 15px;
  margin-bottom: 20px;
}

.post:hover {
  box-shadow: 0 0 8px #e8e8e8;
}

h3 {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 25px;
}

p {
  margin: 0;
}

input {
  border: 1px solid #ccc;
  padding: 2px 10px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
}

input:focus {
  box-shadow: 0 0 5px #d0d0d0;
}

.btn-edit {
  position: absolute;
  top: 20px;
  right: 100px;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: #212121;
  margin-left: auto;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #484848;
}

.btn-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: #dc3540;
  margin-left: 10px;
  cursor: pointer;
}

.btn-delete:hover {
  background-color: #b82932;
}

.btn-create {
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: #1755ff;
  cursor: pointer;
}

.btn-create:hover {
  background-color: #083ed1;
}

.btn-save {
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: #2dcb1e;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #23a517;
}

.show {
  display: flex;
}
.hide {
  display: none;
}
